.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.time-controler {
    display: flex;
    flex-direction: row;
}

.play-controler {
    display: flex;
    flex-direction: row;
}

.play-controler > * {
    margin: 0 0.75rem;
    font-size: 1.5rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.session-time, .session-type {
    text-align: center;
}

.session-type {
    font-size: 2rem;
    font-weight: 600;
}

.session-time {
    font-size: 1.5rem;
    font-weight: 400;
}

.reload{
    transform: rotate(0deg);
    transition: transform 0.3s linear;
}

.reload:hover {
    transform: rotate(180deg);
}
